/* Main body style */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}


/* Header style */

header {
    background-color: transparent;
    color: #ff0000;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid #444;
    border-radius: 0 0 20px 20px;
    margin-bottom: 10px;
}


/* inside header style */

header h1 {
    margin: 0;
    padding: 3%;
}


/* searcher label style */

#searcher label {
    margin-left: 10%;
    font-size: 1.4em;
    font-weight: bold;
}


/* Input style */

#username {
    margin: 5% auto;
    display: block;
    width: 80%;
    line-height: 20px;
    border-radius: 20px;
    font-size: 1.4em;
    padding: 1%;
}


/* Search  button */

#btnGenerate {
    font-size: 1.4em;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    border: 1px solid #00ff00;
    margin-left: 9%;
    padding: 5px;
    color: #00ff00;
}

#btnGenerate:hover {
    background-color: #00ff00;
    color: #fff;
}


/* Display style */

#display-data-main {
    margin: 20px auto;
    width: 80%;
    height: 45vh;
    background-color: #fff;
    padding: 5%;
    border: 10px solid #222;
    border-radius: 30px;
}


/*  Basic data display */


/* User Info */

#user-info h2 {
    margin-top: 0;
    font-size: 3em;
    font-weight: bold;
    width: 75%;
    float: left;
}


/* user avatar */

#user-avatar {
    width: 20%;
    float: right;
}


/* user login */

#login span,
#github-account span,
#repositories span,
#languages span {
    width: 32%;
    float: left;
    font-weight: bold;
    font-size: 1.2em;
}


/* login li element */

#login li {
    width: 60%;
    line-height: 22px;
}


/*  Github account li element */

#github-account li {
    line-height: 22px;
}


/* repositories list */

#repos-list {
    width: 68%;
    float: right;
    height: 100px;
    overflow: auto;
    margin-top: -19px;
}


/* repositories li display */

#repositories li {
    line-height: 22px;
}


/* Languages display */

#languages {
    margin-top: 5px;
}

#languages-list {
    width: 68%;
    float: right;
    height: 100px;
    overflow: auto;
    margin-top: -19px;
}


/* Question mark visibility */

.notvisible {
    visibility: hidden;
}